.planing-block{

}

.planing-block__nav {
  margin-bottom: 22px;
}

.planing-block__list {
  display: flex;
  justify-content: space-around;
  margin: 0 60px;
  padding: 0;
  list-style: none;
  @include breakpoint(small) {
    flex-direction: column;
  }
  .planing-block__item {
    //width: 10%;
    @include breakpoint(small) {
      margin-bottom: 10px;
    }
    .planing-block__btn {
      &.active {
        color: _palette(base, myblue);
      }
      display: block;
      padding: 0 15px;
      font-family: _font(heading, family);
      font-size: 14px;
      @include prefixer(border-radius, 7px, webkit ms spec);
      color: #fff;
      background: _palette(base, myred);
      &:hover {
        cursor: pointer;
        color: _palette(base, myblue);
      }
    }
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #chromeimg {
    width: auto;
  }
}


//.planing-view {
//  .planing-view__list {
//    display: flex;
//    justify-content: space-between;
//    flex-wrap: wrap;
//    margin: 0;
//    padding: 0;
//    list-style: none;
//    .planing-view__item {
//      width: 31.333%;
//      margin-bottom: 10px;
//      padding: 10px;
//    }
//  }
//}

.view {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 380px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid #DCE4EA;
  background-color: #f6f8fa;
  .view__title {
    font-family: _font(heading, family);
    font-size: 21px;
    line-height: 1.2;
    text-align: center;
    @include breakpoint(small) {
      font-size: 12px;
    }
  }
}


.view__btn {
  display: block;
  padding: 5px 60px;
  margin: 0 auto;
  //margin-top: 45px;
  text-align: center;
  font-family: _font(heading, family);
  font-size: 12px;
  background: _palette(base, myred);
  border: 0 none;
  color: #fff;
  border-radius: 5px;
}

.view__pic {
  //width: 50%;
  height: 60%;
  text-align: center; // for IE11
  //margin: 0 auto;
  @include breakpoint(small) {
    height: 50%;
  }
  @include breakpoint(x-small) {
    height: 45%;
  }
}

.view__img {
  //width: 100%;
  height: 100%;
}

// planning form

.planing-choose-form__inner {
  display: flex;
  justify-content: space-around;
  @include breakpoint(small) {
    flex-direction: column;
  }
  .planing-choose-form__left {
    width: 48%;
    @include breakpoint(small) {
      width: 100%;
    }
  }
  .planing-choose-form__right {
    width: 48%;
    @include breakpoint(small) {
      width: 100%;
    }
  }
}

.planing-choose-form__input {
  margin-bottom: 10px;
  width: 100%;
  padding: 0.8125rem 1.25rem;
  border: 2px solid #dce4ea;
  font-family: _font(heading, family);
  box-sizing: border-box;
  @include prefixer(border-radius, 5px, webkit ms spec);
  color: #a3a9ae;
}
.planing-choose-form__btn {
  display: block;
  width: 100%;
  background: _palette(base, myred);
  height: 3.5rem;
  border: 0 none;
  font-family: _font(heading, family);
  font-size: 20px;
  color: #fff;
  @include prefixer(border-radius, 5px, webkit ms spec);
}

.plan__img {
  width: 100%;
}
// planing neat bourbon test

///////


.wp-project-wrapper {
  @include outer-container;
  padding-top: 1rem;

  li.wp-project {
    @include span-columns(4);
    @include omega(3n);
    padding-bottom: 1.5rem;
    @include media($mobile) {
      @include span-columns(12);
      @include omega(1n);
    }

  }
}

.suc-alert {
  display: none;
  width: 100%;
  height: 60px;
  background-color: #77d48c;
  font-family: _font(heading, family);
  @include prefixer(border-radius, 10px, webkit ms spec);
  color: _palette(base, myblue);
  font-size: 24px;
  text-align: center;
}

.error-alert {
  display: none;
  width: 100%;
  height: 60px;
  background-color: #955650;
  font-family: _font(heading, family);
  @include prefixer(border-radius, 10px, webkit ms spec);
  color: _palette(base, myblue);
  font-size: 24px;
  text-align: center;
}
