.methods-block {
  padding-bottom: 22px;
}

.buy-method-tabs {
  width: 100%;
  display: flex;

  @include breakpoint(small) {
    width: 95%;
    margin: 0 auto;
  }

  @include breakpoint(large) {
    width: 97%;
    margin: 0 auto;
  }

  .buy-method-tabs__item {
    list-style: none;
    width: 33.3333333%;
    text-align: center;
    @include prefixer(border-top-left-radius, 10px, webkit ms spec);
    @include prefixer(border-top-right-radius, 10px, webkit ms spec);
    background-color: #e9eef1;
    .buy-method-tabs__tab {
      display: block;
      height: 67px;
      padding-top: 20px;
      font-family: _font(heading, family);
      line-height: 120%;
      font-size: 24px;
      color: #aab5bb;

      @include breakpoint(small) {
        font-size: 18px;
      }
      @include breakpoint(x-small) {
        height: 65px;
        padding-top: 16px;
        font-size: 14px;
      }
    }
  }
}

.buy-method-tabs__item.buy-method-tabs__item_active {
  border-right: 1px solid #e9e7e9;
  background-color: #f6f8fa;
  .buy-method-tabs__tab {
    //color: red;
  }
}

//.buy-method-tabs__item.buy-method-tabs__item_color-dark {
//  background-color: #dce3e7;
//}

.mortgage {
  display: none;
  padding-bottom: 22px;
  @include prefixer(border-bottom-left-radius, 10px, webkit ms spec);
  @include prefixer(border-bottom-right-radius, 10px, webkit ms spec);
  background-color: #f6f8fa;
  &.active {
    display: block;
  }
  &:last-child {
    .everymonth-pay__inputs {
      justify-content: center;
    }
  }

  @include breakpoint(small) {
    width: 95%;
    margin: 0 auto;
  }

  @include breakpoint(large) {
    width: 97%;
    margin: 0 auto;
  }
}

.methods-block__title {
  margin: 0;
  padding: 22px 0;
  line-height: 110%;
  text-align: center;
  font-family: _font(heading, family);
  font-size: 25px;
  background-color: #f6f8fa;
  color: #001c3f;

  &.methods-block__title_border {
    border-bottom: 1px solid #dce4ea;
  }

  @include breakpoint(small) {
    font-size: 20px;
    padding: 25px 5%;
  }
}

.brands__list {
  list-style: none;
  @include breakpoint(small) {
    text-align: center;
  }
  .brands__item {
    width: 24.5%;
    display: inline-block;
    vertical-align: middle;
    padding: 25px 0;

    .brands__img {
      display: block;
      margin: 0 auto;
    }
  }
}

.brands__img {
  max-width: 100%;
  max-height: 100%;
}

.everymonth-pay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px;
}

.everymonth-pay__input {
  padding: 0.6225rem 1.25rem;
  width: 20%;
  margin-left: 10px;
  border: 2px solid #dce4ea;
  margin-bottom: 1.25rem;
  box-sizing: border-box;
  font-family: _font(heading, family);

  @include prefixer(border-radius, 5px, webkit ms spec);
  color: _palette(base, mygray);

  @include breakpoint(medium) {
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.everymonth-pay__btn {
  display: block;
  padding: 10px 36px;
  font-family: _font(heading, family);
  font-size: 20px;
  background: _palette(base, myred);
  border: 0 none;
  color: #fff;
  @include prefixer(border-radius, 5px, webkit ms spec);
  cursor: pointer;

  @include breakpoint(small) {
    font-size: 16px;
    padding: 10px 17px;
  }
}
#start-pay .selet2-default {
  padding: 10px;
}

//selectors
//.everymonth-pay__select {
//  @include breakpoint(small) {
//    width: 100% !important;
//  }
//}

.everymonth-pay__inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;

  @include breakpoint(medium) {
    flex-direction: column;
  }

  .select2-container {
    margin-left: 9px;

    @include breakpoint(medium) {
      width: 100% !important;
      margin-bottom: 10px;
      margin-left: 0;
    }
    .select2-selection--single {
      padding: 0 0 0 10px;
      height: 50px;
      .select2-selection__rendered {
        padding: 11px 0;
        font-family: _font(heading, family);
        color: _palette(base, mygray);
      }
    }
  }
  .select2-container--default .select2-selection--single {
    border: 2px solid #dce4ea;
    .select2-selection__arrow {
      height: 49px;
    }
  }
}