@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap/scss/bootstrap-grid";

@import "_lib/union";
@import "_settings/settings";
//@import "../../vendor/neat/app/assets/stylesheets/neat";

@import "_base/union";
//@import "_components/union";
@import "_layout/union";
//@import "_pages/union";
//@import "_vendors/union";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  //@include make-row();
}
.content-main {
  @include make-col-ready();
  @include make-col(8);
  height: 100px;
  background-color: #9d223c;
}

.content-secondary {
  @include make-col-ready();
  @include make-col(4);
  height: 100px;
  background-color: #009CDE;
}