doctype html
html
  include _common/_head
  body
    .wrapper
      .maincontent
        include _includes/_header

        block content
    // build:js js/plugins.main.min.js
    script(src='../../bower_components/jquery.js')
    script(src='../../bower_components/jquery.cover.js')
    script(src='../../bower_components/Swiper/dist/js/swiper.js')
    // endbuild
    script(src='js/main.min.js')