doctype html
html
  include _common/_head
  body
    .wrapper
      .maincontent
        include _includes/_header
        include _includes/_callform

        block content
    // build:js js/plugins.main.min.js
    script(src='../../bower_components/jquery.js')
    script(src='../../bower_components/jquery.cover.js')
    // endbuild