doctype html
html
  include _common/_head
  body
    .wrapper
      .maincontent
        include _includes/_header

        block content
    include _includes/_footer
    include _includes/_questionManagerForm
    include _includes/_consultform
    include _includes/_additionform
    include _includes/_callform
    include _includes/_planningform
    include _includes/_offerform
    include _includes/_range-slider
    // build:js js/plugins.main.min.js
    script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/Swiper/dist/js/swiper.js')
    script(src='../../bower_components/select2/dist/js/select2.js')
    script(src='../../bower_components/isotope/dist/isotope.pkgd.min.js')
    script(src='../../bower_components/bPopup/jquery.bpopup.min.js')
    script(src='../../bower_components/slick-carousel/slick/slick.min.js')
    script(src='../../bower_components/hammerjs/hammer.min.js')
    script(src='../../bower_components/jquery-ui/jquery-ui.min.js')
    script(src='../../bower_components/jQuery-ui-Slider-Pips/dist/jquery-ui-slider-pips.min.js')
    sxript(src="../../bower_components/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js")
    // endbuild
    script(src='js/main.min.js')
