doctype html
html
  include _common/_head
  body
    .wrapper
      .maincontent
        include _includes/_header

        block content
    include _includes/_footer
    // build:js js/plugins.main.min.js
    script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/Swiper/dist/js/swiper.js')
    script(src='../../bower_components/select2/dist/js/select2.js')
    // endbuild
    script(src='js/main.min.js')
