// section picblock
.picblock {
  background-image: url("http://www.fillmurray.com/1396/658");
  height: 658px;
}

.advertise-block {
  width: 475px;
  margin-bottom: 22px;
  background-color: _palette(base, myred);
}

.picblock__advertise-container {
  height: 100%;
  //display: flex;
  //flex-direction: column-reverse;
  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
}

//section picblock secondary

.picblock-secondary {
  background-image: url("http://www.fillmurray.com/1396/658");
  height: 658px;
}