// section picblock
.picblock {
  margin-bottom: 22px;
  position: relative;
  height: 660px;
  //background-image: url("http://www.fillmurray.com/1396/658");
  .picblock__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -1;
    //background-image: url("http://www.fillmurray.com/1396/658");
    background-image: url("/img/view-house.jpg");
  }
}


.advertise-block {
  width: 475px;
  height: 187px;
  margin-bottom: 22px;
  padding: 19px 0 7px 33px;
  font-family: _font(dinmedium, family);
  background-color: _palette(base, myred);
  color: #fff;
  .advertise-block__title {
    font-size: 54px;
    line-height: 58.9px;
  }
}
.advertise-block__paragraph {
  font-family: _font(body, family);
  font-size: 24px;
  line-height: 26.9px;
}

.advertise-block__paragraph_fsize-big {
  font-size: 36px;
  line-height: 41.9px;
}

.picblock__advertise-container {
  height: 100%;
  //display: flex;
  //flex-direction: column-reverse;
  .container-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
  }
}

// caption-block

.caption-block {
  position: absolute;
  left: 50%;
  margin-top: 82px;
  z-index: 2;
  transform: translate(-50%, 0);
  background-color: #fff;
  .caption-block__title {
    margin: 0;
    padding: 0;
    padding: 9px 75px;
    font-size: 36px;
    text-align: center;
    color: _palette(base, myblue);
  }
}

// section picblock secondary

.picblock-secondary {
  background-image: url("/img/street-with-man.jpg");
  height: 658px;
  //width: 100%;
  margin-bottom: 22px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.infomore-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.infomore-block__btn {
  display: block;
  padding: 0 42px;
  border: 0 none;
  font-size: 24px;
  line-height: 54px;
  background: _palette(base, myred);
  color: #fff;
  @include prefixer(border-radius, 7px, webkit ms spec);
}

.infomore-block__title {
  margin: 0;
  padding: 0;
  font-family: _font(dinmedium, family);
  font-size: 54px;
  color: _palette(base, myred);
}

.infomore-block__desc {
  margin: 0;
  padding: 0;
  font-size: 24px;
  color: #fff;
}

// section allwidth block

.allwidth-block {
  background: transparent url("/img/allwidth-bg.jpg") no-repeat scroll center bottom / cover;
}

.title {
  margin: 0;
  padding: 33px 0;
  font-family: _font(dinmedium, family);
  font-size: 60px;
  text-align: center;
  color: #ffffff;
}