.container {
	//max-width: 1400px;
	max-width: 1425px;

	@include breakpoint(small) {
		padding-left: 0;
		padding-right: 0;
	}
}

.container-main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	//@include clearfix;
}

.contacts-block__container {
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	@include clearfix;
	@include breakpoint(medium) {
		max-width: 640px;
	}
	@include breakpoint(x-small) {
		text-align: center;
	}
}