.footer {
  //margin-top: -150px;
  height: 112px;
  background: #f1f5f8;
}

.footer__copyright {
  float: left;
  width: 50%;
  padding-top: 10px;
  font-family: _font(dinmedium, family);
  font-size: 12px;
  color: #c4cdd3;
}

.footer__tel {
  float: right;
  width: 50%;
  padding-top: 10px;
  text-align: right;
  font-family: _font(dinmedium, family);
  font-size: 20px;
  color: _palette(base, myblue);
}