.footer {
  //margin-top: -150px;
  height: 75px;
  background: #f1f5f8;

  @include breakpoint(large) {
    .container-main {
      width: 98%;
      margin: 0 1%;
      //@include clearfix;
    }
  }
}

.footer__copyright {
  float: left;
  width: 50%;
  padding-top: 18px;
  font-family: _font(heading, family);
  font-size: 12px;
  color: #c4cdd3;
}

.footer__tel {
  float: right;
  width: 50%;
  padding-top: 21px;
  text-align: right;
  font-family: _font(dinmedium, family);
  font-size: 20px;
  color: _palette(base, myblue);
  span {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -18px;
      top: 7px;
      width: 11px;
      height: 11px;
      background-image: url(/img/pic-3.png);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

