.header {
  //height: 77px;
  //padding: 20px 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  top: 0;
  left: 0;
  .container-main {
    padding: 23px 0 10px 0;
  }
}

.header__desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  float: left;
  width: 80%;
  @include clearfix;
}

.header__right {
  float: right;
  width: 20%;
  text-align: right;
}

.logo {
  float: left;
  max-width: 11em;
  margin-right: 77px;
}

.logo__img {
  max-width: 100%;
}

.navigation {
  float: left;
  font-family: _font(heading, family);
}

.navigation__list {
  font-size: 0;
  line-height: 42px;
}

.navigation__item {
  display: inline-block;
  vertical-align: top;
  &:last-child {
    .navigation__link {
      padding-right: 0;
    }
  }
}

.navigation__link {
  display: inline-block;
  padding-right: 95px;
  vertical-align: top;
  font-size: 14px;
  color: _palette(base, myblue);
  text-decoration: none;
}

.call {
  position: relative;
}

.call__number {
  font-family: _font(dinmedium, family);
  font-size: 20px;
  line-height: 28.45px;
  color: _palette(base, myblue);
}