.header {
  //height: 77px;
  //padding: 20px 0;
  width: 100%;
  .container-main {
    padding: 1em 0;
  }
}

.header__desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  float: left;
  width: 80%;
  @include clearfix;
}

.header__right {
  float: right;
  width: 20%;
  text-align: right;
}

.logo {
  float: left;
  max-width: 11em;
  margin-right: 77px;
}

.logo__img {
  max-width: 100%;
}

.navigation {
  float: left;
}

.navigation__list {
  font-size: 0;
}

.navigation__item {
  display: inline-block;
  vertical-align: top;
}

.navigation__link {
  display: inline-block;
  padding: 0 39px;
  vertical-align: top;
  font-size: 14px;
  color: _palette(base, myblue);
  text-decoration: none;
}

.call__number {
  font-family: _font(dinmedium, family);
  font-size: 20px;
  color: _palette(base, myblue);
}