extends ../main

block title
  | Andersen page

block content
  .container
    section.picblock
      .picblock__bg
      .picblock__advertise-container
        .container-main
          include ../_includes/_callform
          .advertise-block
            .advertise-block__title
              | ЖК &laquoАндерсен&raquo
            .advertise-block__paragraph
              | Красивая архитектура, дубовая аллея, двор без машин и всего от
            .advertise-block__paragraph.advertise-block__paragraph_fsize-big
              | 1 280 тыс. руб.
    section.slider
      .caption-block
        h2.caption-block__title
          | ЖК &laquoАндерсен&raquo не такой, как все дома в округе
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img.slide-pic(src="/img/dvor-1.jpg")
          .swiper-slide
            img.slide-pic(src="/img/dvor-1.jpg")
          .swiper-slide
            img.slide-pic(src="/img/dvor-1.jpg")
        .swiper-button-prev(id="swip-left")
        .swiper-button-next(id="swip-right")
    section.picblock-secondary-zero
      .pickblock-view
        .caption-block
          h2.caption-block__title
            | Собственная дубовая аллея
    section.picblock-secondary
      .infomore-block
        .infomore-block__title
          h2 Двухуровневые пентхаусы
        .infomore-block__desc
          p с выходом на террасу и панорманым остеклением
        .infomore-block__desc
          p от 2 700 000 руб.
        a.infomore-block__btn(href="#") Узнать подробнее
  .allwidth-block
    .container-main
      h2.title Способы покупки квартир
      .methods-block
        ul.buy-method-tabs
          li.buy-method-tabs__item.buy-method-tabs__item_active
            a.buy-method-tabs__tab(href='#') Ипотека
          li.buy-method-tabs__item.buy-method-tabs__item_active
            a.buy-method-tabs__tab(href='#') Рассрочка
          li.buy-method-tabs__item.buy-method-tabs__item_active
            a.buy-method-tabs__tab(href='#') Материнский капитал
        .buy-method-blocks
          .mortgage
            h2.methods-block__title
              | Получите рассчёт ежемесячного платежа во всех банках-партнёрах по ипотеке
            .brands
              ul.brands__list
                li.brands__item
                  a.brands__link
                    img.brands__img(src="/img/bank1.png")
                li.brands__item
                  a.brands__link
                    img.brands__img(src="/img/bank2.png")
                li.brands__item
                  a.brands__link
                    img.brands__img(src="/img/bank3.png")
                li.brands__item
                  a.brands__link
                    img.brands__img(src="/img/bank4.png")
                li.brands__item
                  a.brands__link
                    img.brands__img(src="/img/bank5.png")
            form.everymonth-pay
              .everymonth-pay__inputs
                select.everymonth-pay__select(id='start-pay' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
                  option(value='hide') Первоначальный взнос
                  option(value='first') First
                  option(value='second') Second
                select.everymonth-pay__select(id='type-home' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
                  option(value='hide') Тип квартиры
                  option(value='first') First
                  option(value='second') Second
                select.everymonth-pay__select(id='time-limit' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
                  option(value='hide') На срок
                  option(value='first') First
                  option(value='second') Second
                input.everymonth-pay__input(name="" placeholder="Ваше имя" type="text")
                input.everymonth-pay__input(name="" placeholder="Ваш телефон" type="text")
              input.everymonth-pay__btn(name="" value="Узнать ежемесячный платёж" type="submit")
  section.infoblock
    .container-main
      .documents-block
        h2.subtitle Документация
        ul.documents-block__list
          li.documents-block__item
            a.documents-block__link(href="#") Разрешение на строительство
            a.documents-block__link(href="#") Проектная декларация
          li.documents-block__item
            a.documents-block__link(href="#") Внесение изменнений в проектную декларацию
            a.documents-block__link(href="#") Свидетельство о государственной регистрации права
      .contacts-block
        h2.subtitle Контакты
        .contacts-block__adress
          p г. Краснодар,
          p ул. Героев-Разведчиков, д. 48
        .contacts-block__tel
          | 8 800 2000 600

  .allwidth-slider
    .container
      .container-main
        h2.allwidth-slider__title Выберите себе менеджера
        .swiper-container-manager
          .swiper-wrapper
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Екатерина
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Алексей
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Екатерина
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Алексей
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Екатерина
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Алексей
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Екатерина
                a.consult-link(href="#") Получить консультацию
            .swiper-slide
              .manager
                .manager__foto
                  img.manager__img(src="/img/manager1.jpg")
                .manager__name Алексей
                a.consult-link(href="#") Получить консультацию
          .swiper-button-prev(id="swip-left")
          .swiper-button-next(id="swip-right")
  .container
    section.mapblock
      div(id='map')
    section.questions
      .questions__title
        h2 Остались вопросы?
      .questions__desc
        p Задайте их менеджеру
      a.questions__btn(href="#") Задать вопрос