extends ../main

block title
  | Andersen page

block content
  section.picblock
    .picblock__advertise-container
      .container-main
        .advertise-block
          .advertise-block__title
            | ЖК "Андерсен"
          .advertise-block__paragraph
            | Красивая архитектура, дубовая аллея, двор без машин и всего от
          .advertise-block__paragraph.advertise-block__paragraph_fsize-big
            | 1280 тыс. руб.