extends ../main

block title
  | Andersen page

block content
  .container
    section.picblock
      .picblock__bg
      .picblock__advertise-container
        .container-main
          //include ../_includes/_callform
          .advertise-block
            .advertise-block__title
              | ЖК &laquoАндерсен&raquo
            .advertise-block__paragraph
              | Красивая архитектура, дубовая аллея, двор без машин и всего от
            .advertise-block__paragraph.advertise-block__paragraph_fsize-big
              | #[span 1 280] тыс. руб.
    section.slider(id="fotogal")
      .caption-block
        h2.caption-block__title
          | ЖК &laquoАндерсен&raquo не такой, как все дома в округе
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img.swiper-lazy.slide-pic(data-src="/img/dvor-1.jpg")
            .swiper-lazy-preloader
          .swiper-slide
            img.swiper-lazy.slide-pic(data-src="/img/view-house.jpg")
            .swiper-lazy-preloader
          .swiper-slide
            img.swiper-lazy.slide-pic(data-src="/img/night.jpg")
            .swiper-lazy-preloader
        .swiper-button-prev(id="swip-left")
        .swiper-button-next(id="swip-right")
    section.picblock-secondary-zero
      .pickblock-view
        .caption-block
          h2.caption-block__title
            | Собственная дубовая аллея
    section.picblock-secondary
      .infomore-block
        .infomore-block__title
          h2 Двухуровневые пентхаусы
        .infomore-block__desc
          p с выходом на террасу и панорманым остеклением
        .infomore-block__desc.infomore-block__desc_fsize-big
          p от #[span 2 700 000] руб.
        a.infomore-block__btn(href="#") Узнать подробнее
  section.infoblock
    .container-main
      h2.title.title_color-blue Поблизости расположены
      .nearplaces
        ul.nearplaces__list
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/school.jpg" alt="near-pic-1")
              .nearplace__preview
                p 3 Школы
                span 5 минут пешком
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/kindergarten.jpg" alt="near-pic-2")
              .nearplace__preview
                p 3 детских сада
                span 7 минут пешком
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/bus.jpg" alt="near-pic-3")
              .nearplace__preview
                p Остановка в 30 метрах
                span Маршруты в любую точку города
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/shops.jpg" alt="near-pic-4")
              .nearplace__preview
                p Много магазинов
                span Ближайший во дворе
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/stadium.jpg" alt="near-pic-4")
              .nearplace__preview
                p Стадион «Краснодар»
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/pool.jpg" alt="near-pic-4")
              .nearplace__preview
                p Спорткомплекс с бассейном
  section.infoblock
    .container-main
      h2.title.title_color-blue Во дворе жилого комплекса
      .liquid-blocks
        .liq-block
          .liq-block__text
            h2 Нет машин
            p Парковочные места расположены по периметру - мест зватит всем
        .liq-block.liq-block_size-small.alcove
          .liq-block__text
            h2 Красивая зелёная зона с беседками
      .liquid-blocks
        .liq-block.liq-block_size-small
          .liq-block__text
            h2 Арка с выходом в дубовую аллею
        .liq-block
          .liq-block__text
            h2 Детские и спортивные площадки
  section.infoblock
    .container-main
      h2.title.title_color-blue Планировки и цены квартир
      .planing-block(id="prices")
        .planing-block__nav
          .planing-block__list(id="filters")
            //button.planing-block__btn(data-filter="*") Все
            //button.planing-block__btn(data-filter=".one") 1 комнатные
            //button.planing-block__btn(data-filter=".two") 2 комнатные
            //button.planing-block__btn(data-filter=".three") 3 комнатные
            //button.planing-block__btn(data-filter=".four") 4 комнатные
            //button.planing-block__btn(data-filter=".penthaus") Пентхаусы
            li.planing-block__item
              .planing-block__btn.active(id="all" data-filter="*") Все
            li.planing-block__item
              .planing-block__btn(id="one" data-filter=".one") 1 комнатные
            li.planing-block__item
              .planing-block__btn(id="two" data-filter=".two") 2 комнатные
            li.planing-block__item
              .planing-block__btn(id="three" data-filter=".three") 3 комнатные
            li.planing-block__item
              .planing-block__btn(id="four" data-filter=".four") 4 комнатные
            li.planing-block__item
              .planing-block__btn(id="penthaus" data-filter=".penthaus") Пентхаусы
        .planing-view.wp-project-wrapper
          -
            var planings = {
            'Однокомнатная квартира1': {
                'tit': 'Однокомнатная квартира',
                'category' : 'one',
                'fot' : '/img/apartments/oneroom/30-03.png',
                'square-all': '30,03 м2',
                'square-live': '10,31 м2'
            },
            'Однокомнатная квартира2': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/30-45.png',
            'square-all': '30,45 м2',
            'square-live': '11,48 м2'
            },
            'Однокомнатная квартира3': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/30-98.png',
            'square-all': '30,98 м2',
            'square-live': '8,65 м2'
            },
            'Однокомнатная квартира4': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/31-27.png',
            'square-all': '31,27 м2',
            'square-live': '12,01 м2'
            },
            'Однокомнатная квартира5': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/32-65.png',
            'square-all': '32,65 м2',
            'square-live': '13,11 м2'
            },
            'Однокомнатная квартира6': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/33-33.png',
            'square-all': '33,33 м2',
            'square-live': '9,44 м2'
            },
            'Однокомнатная квартира7': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/34-94.png',
            'square-all': '34,94 м2',
            'square-live': '13,11 м2'
            },
            'Однокомнатная квартира8': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/34-98.png',
            'square-all': '34,98 м2',
            'square-live': '11,55 м2'
            },
            'Однокомнатная квартира9': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/37-27.png',
            'square-all': '37,27 м2',
            'square-live': '15,29 м2'
            },
            'Однокомнатная квартира10': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/38-70.png',
            'square-all': '38,70 м2',
            'square-live': '14,28 м2'
            },
            'Однокомнатная квартира11': {
            'tit': 'Однокомнатная квартира',
            'category' : 'one',
            'fot' : '/img/apartments/oneroom/40-17.png',
            'square-all': '40,17 м2',
            'square-live': '12,20 м2'
            },

            'Двухкомнатная квартира1': {
            'tit': 'Двухкомнатная квартира',
            'category' : 'two',
            'fot' : '/img/apartments/tworoom/49-89.png',
            'square-all': '49,89 м2',
            'square-live': '21,96 м2'
            },
            'Двухкомнатная квартира2': {
            'tit': 'Двухкомнатная квартира',
            'category' : 'two',
            'fot' : '/img/apartments/tworoom/50-10.png',
            'square-all': '50,10 м2',
            'square-live': '21,66 м2'
            },
            'Двухкомнатная квартира3': {
            'tit': 'Двухкомнатная квартира',
            'category' : 'two',
            'fot' : '/img/apartments/tworoom/52-00.png',
            'square-all': '52,00 м2',
            'square-live': '26,71 м2'
            },
            'Двухкомнатная квартира4': {
            'tit': 'Двухкомнатная квартира',
            'category' : 'two',
            'fot' : '/img/apartments/tworoom/55-73.png',
            'square-all': '55,73 м2',
            'square-live': '26,91 м2'
            },
            'Двухкомнатная квартира5': {
            'tit': 'Двухкомнатная квартира',
            'category' : 'two',
            'fot' : '/img/apartments/tworoom/65-32.png',
            'square-all': '65,32 м2',
            'square-live': '25,72 м2'
            },
            'Трёхкомнатная квартира1': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/56-50.png',
            'square-all': '56,50 м2',
            'square-live': '25,49 м2'
            },
            'Трёхкомнатная квартира2': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/56-80.png',
            'square-all': '56,80 м2',
            'square-live': '29,18 м2'
            },
            'Трёхкомнатная квартира3': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/57-34.png',
            'square-all': '57,34 м2',
            'square-live': '29,21 м2'
            },
            'Трёхкомнатная квартира4': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/60-74.png',
            'square-all': '60,74 м2',
            'square-live': '34,07 м2'
            },
            'Трёхкомнатная квартира5': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/61-61.png',
            'square-all': '61,61 м2',
            'square-live': '34,21 м2'
            },
            'Трёхкомнатная квартира6': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/64-77.png',
            'square-all': '64,77 м2',
            'square-live': '38,39 м2'
            },
            'Трёхкомнатная квартира7': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/75-20.png',
            'square-all': '75,20 м2',
            'square-live': '39,77 м2'
            },
            'Трёхкомнатная квартира8': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/75-93.png',
            'square-all': '75,93 м2',
            'square-live': '37,82 м2'
            },
            'Трёхкомнатная квартира9': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/76-21.png',
            'square-all': '76,21 м2',
            'square-live': '36,88 м2'
            },
            'Трёхкомнатная квартира10': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/84-05.png',
            'square-all': '84,05 м2',
            'square-live': '40,14 м2'
            },
            'Трёхкомнатная квартира11': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/87-12.png',
            'square-all': '87,12 м2',
            'square-live': '35,26 м2'
            },
            'Трёхкомнатная квартира12': {
            'tit': 'Трёхкомнатная квартира',
            'category' : 'three',
            'fot' : '/img/apartments/threeroom/100-68.png',
            'square-all': '100,68 м2',
            'square-live': '41,48 м2'
            },
            'Четырёхкомнатная квартира1': {
            'tit': 'Четырёхкомнатная квартира',
            'category' : 'four',
            'fot' : '/img/apartments/fourroom/77-10.png',
            'square-all': '77,10 м2',
            'square-live': '46,26 м2'
            },
            'Четырёхкомнатная квартира2': {
            'tit': 'Четырёхкомнатная квартира',
            'category' : 'four',
            'fot' : '/img/apartments/fourroom/92-88.png',
            'square-all': '92,88 м2',
            'square-live': '43,43 м2'
            },
            'Пентхаус1': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/56-50.png',
            'square-all': '56,50 м2',
            'square-live': '25,49 м2'
            },
            'Пентхаус2': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/60-74.png',
            'square-all': '60,74 м2',
            'square-live': '34,07 м2'
            },
            'Пентхаус3': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/61-61.png',
            'square-all': '61,61 м2',
            'square-live': '34,21 м2'
            },
            'Пентхаус4': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/64-77.png',
            'square-all': '64,77 м2',
            'square-live': '38,93 м2'
            },
            'Пентхаус5': {
            'tit': 'Пентхаус',
            'category' : 'penthaus two',
            'fot' : '/img/apartments/penthaus/65-32.png',
            'square-all': '65,32 м2',
            'square-live': '25,72 м2'
            },
            'Пентхаус6': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/75-20.png',
            'square-all': '75,20 м2',
            'square-live': '39,77 м2'
            },
            'Пентхаус7': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/75-93.png',
            'square-all': '75,93 м2',
            'square-live': '37,82 м2'
            },
            'Пентхаус8': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/76-21.png',
            'square-all': '76,21 м2',
            'square-live': '36,88 м2'
            },
            'Пентхаус9': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/77-10.png',
            'square-all': '77,10 м2',
            'square-live': '46,26 м2'
            },
            'Пентхаус10': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/84-05.png',
            'square-all': '84,05 м2',
            'square-live': '40,14 м2'
            },
            'Пентхаус11': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/87-12.png',
            'square-all': '87,12 м2',
            'square-live': '35,26 м2'
            },
            'Пентхаус12': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/92-88.png',
            'square-all': '92,88 м2',
            'square-live': '43,43 м2'
            },
            'Пентхаус13': {
            'tit': 'Пентхаус',
            'category' : 'penthaus',
            'fot' : '/img/apartments/penthaus/100-68.png',
            'square-all': '100,68 м2',
            'square-live': '41,48 м2'
            }
            }
          ul.planing-view__list.grid
            each info, title in planings
              li.wp-project.planing-view__item.disp(class= info['category'], data-category= info['category'])
                .view
                  h2.view__title= info['tit']
                  .view__pic
                    img.view__img(src= info['fot'] id="chromeimg")
                  .view__info
                    p.view__parag.view__parag_all= "Общая площадь: " + info['square-all']
                  .view__info
                    p.view__parag.view__parag_live= "Жилая площадь: " + info['square-live']
                  a.view__btn(href="#") Узнать стоимость
  section.infoblock
    .container-main
      h2.title.title_color-blue А ещё вас порадует:
      .prizes
        ul.prizes__list
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize1.jpg" alt="near-pic-1")
              .prize__preview
                p Предчистовая отделка
                span Строго о СНИПАМ. Вы сэкономите на ремонте до 80 000 рублей
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize2.jpg" alt="near-pic-1")
              .prize__preview
                p Большая кухня
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize3.jpg" alt="near-pic-1")
              .prize__preview
                p Широкий балкон
                span Как отдельная комната
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize4.jpg" alt="near-pic-1")
              .prize__preview
                p Кладовые помещения
                span от 3 до 9 м
  .allwidth-block(id="buy")
    .container-main
      h2.title Способы покупки квартир
      include ../_includes/_tab1
  section.infoblock(id="contacts")
    .container-main
      .documents-block
        h2.subtitle Документация
        .contacts-block__container
          ul.documents-block__list
            li.documents-block__item
              a.documents-block__link(href="/static/building_permission.pdf", target="_blank") Разрешение на строительство
            li.documents-block__item
              a.documents-block__link(href="/static/project_declaration.pdf", target="_blank") Проектная декларация
      .contacts-block
        h2.subtitle Контакты
        .contacts-block__container
          .contacts-block__adress
            p г. Краснодар,
            p ул. Героев-Разведчиков, д. 48
          .contacts-block__tel
            | 8 800 2000 600

  .allwidth-slider
    .container
      .container-main
        h2.allwidth-slider__title Выберите себе менеджера
        .slick-container-manager
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/kupchinskaya_irina.jpg")
              .manager__name Ирина
              a.consult-link.firstManager(href="#") Получить консультацию
          .slick-slide
            .manager.secondManager
              .manager__foto
                img.manager__img(src="/img/manager/bocharnikov_andrey.jpg")
              .manager__name Андрей
              a.consult-link.secondManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/dikopoltseva_svetlana.jpg")
              .manager__name Светлана
              a.consult-link.thirdManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/stanislav_shipilov.jpg")
              .manager__name Станислав
              a.consult-link.fourthManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/titarenko_anastasiya.jpg")
              .manager__name Анастасия
              a.consult-link.fifthManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/titova_svetlana.jpg")
              .manager__name Светлана
              a.consult-link.sixthManager(href="#") Получить консультацию
  .container
    section.mapblock
      div(id='map')
    section.questions
      .questions__title
        h2 Остались вопросы?
      .questions__desc
        p Задайте их менеджеру
      a.questions__btn(href="#") Задать вопрос
  //include ../_includes/_planing