extends ../main

block title
  | Andersen page

block content
  .container
    section.picblock
      .picblock__bg
      .picblock__advertise-container
        .container-main
          //include ../_includes/_callform
          .advertise-block
            .advertise-block__title
              | ЖК &laquoАндерсен&raquo
            .advertise-block__paragraph
              | Красивая архитектура, дубовая аллея, двор без машин и всего от
            .advertise-block__paragraph.advertise-block__paragraph_fsize-big
              | #[span 1 280] тыс. руб.
    section.slider(id="fotogal")
      .caption-block
        h2.caption-block__title
          | ЖК &laquoАндерсен&raquo не такой, как все дома в округе
      .swiper-container
        .swiper-wrapper
          .swiper-slide
            img.slide-pic(src="/img/dvor-1.jpg")
          .swiper-slide
            img.slide-pic(src="/img/view-house.jpg")
        .swiper-button-prev(id="swip-left")
        .swiper-button-next(id="swip-right")
    section.picblock-secondary-zero
      .pickblock-view
        .caption-block
          h2.caption-block__title
            | Собственная дубовая аллея
    section.picblock-secondary
      .infomore-block
        .infomore-block__title
          h2 Двухуровневые пентхаусы
        .infomore-block__desc
          p с выходом на террасу и панорманым остеклением
        .infomore-block__desc.infomore-block__desc_fsize-big
          p от #[span 2 700 000] руб.
        a.infomore-block__btn(href="#") Узнать подробнее
  section.infoblock
    .container-main
      h2.title.title_color-blue Поблизости расположены
      .nearplaces
        ul.nearplaces__list
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/school.jpg" alt="near-pic-1")
              .nearplace__preview
                p 3 Школы
                span 5 минут пешком
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/kindergarten.jpg" alt="near-pic-2")
              .nearplace__preview
                p 3 детских сада
                span 7 минут пешком
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/bus.jpg" alt="near-pic-3")
              .nearplace__preview
                p Остановка в 30 метрах
                span Маршруты в любую точку города
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/shops.jpg" alt="near-pic-4")
              .nearplace__preview
                p Много магазинов
                span Ближайший во дворе
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/stadium.jpg" alt="near-pic-4")
              .nearplace__preview
                p Стадион «Краснодар»
          li.nearplaces__item
            .nearplace
              .nearplace__pic
                img.nearplace__img(src="/img/advantages/pool.jpg" alt="near-pic-4")
              .nearplace__preview
                p Спорткомплекс с бассейном
  section.infoblock
    .container-main
      h2.title.title_color-blue Во дворе жилого комплекса
      .liquid-blocks
        .liq-block
          .liq-block__text
            h2 Нет машин
            p Парковочные места расположены по периметру - мест зватит всем
        .liq-block.liq-block_size-small.alcove
          .liq-block__text
            h2 Красивая зелёная зона с беседками
      .liquid-blocks
        .liq-block.liq-block_size-small
          .liq-block__text
            h2 Арка с выходом в дубовую аллею
        .liq-block
          .liq-block__text
            h2 Детские и спортивные площадки
  section.infoblock
    .container-main
      h2.title.title_color-blue Планировки и цены квартир
      .planing-block(id="prices")
        .planing-block__nav
          .planing-block__list(id="filters")
            //button.planing-block__btn(data-filter="*") Все
            //button.planing-block__btn(data-filter=".one") 1 комнатные
            //button.planing-block__btn(data-filter=".two") 2 комнатные
            //button.planing-block__btn(data-filter=".three") 3 комнатные
            //button.planing-block__btn(data-filter=".four") 4 комнатные
            //button.planing-block__btn(data-filter=".penthaus") Пентхаусы
            li.planing-block__item
              a.planing-block__btn(data-filter="*" href="#") Все
            li.planing-block__item
              a.planing-block__btn(data-filter=".one" href="#") 1 комнатные
            li.planing-block__item
              a.planing-block__btn(data-filter=".two" href="#") 2 комнатные
            li.planing-block__item
              a.planing-block__btn(data-filter=".three" href="#") 3 комнатные
            li.planing-block__item
              a.planing-block__btn(data-filter=".four" href="#") 4 комнатные
            li.planing-block__item
              a.planing-block__btn(data-filter=".penthaus" href="#") Пентхаусы
        .planing-view
          ul.planing-view__list
            li.planing-view__item.one(data-category="one")
              .view
                h2.view__title Однокомнатная квартира
                .view__pic
                  img.view__img(src="/img/2.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
            li.planing-view__item.two(data-category="two")
              .view
                h2.view__title Двухкомнатная квартира
                .view__pic
                  img.view__img(src="/img/5.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
            li.planing-view__item.one(data-category="one")
              .view
                h2.view__title Однокомнатная квартира
                .view__pic
                  img.view__img(src="/img/8.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
            li.planing-view__item.three(data-category="three")
              .view
                h2.view__title Трёхкомнатная квартира
                .view__pic
                  img.view__img(src="/img/12.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
            li.planing-view__item.four(data-category="four")
              .view
                h2.view__title Четырёхкомнатная квартира
                .view__pic
                  img.view__img(src="/img/16.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
            li.planing-view__item.penthaus(data-category="penthaus")
              .view
                h2.view__title Пентхаус
                .view__pic
                  img.view__img(src="/img/2.png" alt="near-pic-1")
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                .view__info
                  p.view__parag Общая площадь 40,73 м2
                a.view__btn(href="#") Узнать стоимость
  section.infoblock
    .container-main
      h2.title.title_color-blue А ещё вас порадует:
      .prizes
        ul.prizes__list
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize1.jpg" alt="near-pic-1")
              .prize__preview
                p Предчистовая отделка
                span Строго о СНИПАМ. Вы сэкономите на ремонте до 80 000 рублей
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize2.jpg" alt="near-pic-1")
              .prize__preview
                p Большая кухня
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize3.jpg" alt="near-pic-1")
              .prize__preview
                p Широкий балкон
                span Как отдельная комната
          li.prizes__item
            .prize
              .prize__pic
                img.prize__img(src="/img/prize4.jpg" alt="near-pic-1")
              .prize__preview
                p Кладовые помещения
                span от 3 до 9 м
  .allwidth-block(id="buy")
    .container-main
      h2.title Способы покупки квартир
      include ../_includes/_tab1
  section.infoblock(id="contacts")
    .container-main
      .documents-block
        h2.subtitle Документация
        .contacts-block__container
          ul.documents-block__list
            li.documents-block__item
              a.documents-block__link(href="#") Разрешение на строительство
            li.documents-block__item
              a.documents-block__link(href="#") Проектная декларация
      .contacts-block
        h2.subtitle Контакты
        .contacts-block__container
          .contacts-block__adress
            p г. Краснодар,
            p ул. Героев-Разведчиков, д. 48
          .contacts-block__tel
            | 8 800 2000 600

  .allwidth-slider
    .container
      .container-main
        h2.allwidth-slider__title Выберите себе менеджера
        .slick-container-manager
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/kupchinskaya_irina.jpg")
              .manager__name Ирина
              a.consult-link.firstManager(href="#") Получить консультацию
          .slick-slide
            .manager.secondManager
              .manager__foto
                img.manager__img(src="/img/manager/bocharnikov_andrey.jpg")
              .manager__name Андрей
              a.consult-link.secondManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/dikopoltseva_svetlana.jpg")
              .manager__name Светлана
              a.consult-link.thirdManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/stanislav_shipilov.jpg")
              .manager__name Станислав
              a.consult-link.fourthManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/titarenko_anastasiya.jpg")
              .manager__name Анастасия
              a.consult-link.fifthManager(href="#") Получить консультацию
          .slick-slide
            .manager
              .manager__foto
                img.manager__img(src="/img/manager/titova_svetlana.jpg")
              .manager__name Светлана
              a.consult-link.sixthManager(href="#") Получить консультацию
  .container
    section.mapblock
      div(id='map')
    section.questions
      .questions__title
        h2 Остались вопросы?
      .questions__desc
        p Задайте их менеджеру
      a.questions__btn(href="#") Задать вопрос
  //include ../_includes/_planing