head
  title
    block title
  meta(content='' name='autor')
  meta(content='' name='description')
  meta(content='' name='keywords')
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(content='width=device-width, initial-scale=1' name='viewport')
  meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  link(rel='stylesheet' href='fonts/stylesheet.css')
  link(rel='stylesheet' href='css/style.css')
  // build:css css/plugins.main.min.css
  link(href='../../bower_components/Swiper/dist/css/swiper.css')
  link(href='../../bower_components/select2/dist/css/select2.css')
  link(href='../../bower_components/slick-carousel/slick/slick.css')
  // endbuild
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->

  include ../_external/_favicon