/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'x-small' : '(max-width: 320px)',
  'small'   : '(max-width: 768px)',
  'medium'  : '(max-width: 1024px)',
  'large'   : '(max-width: 1224px)',
  'x-large' : '(max-width: 1824px)',
) !default;

// addition breakpoints from bourbon neat
$addit: new-breakpoint(max-width 585px 12); // for slider btns
$mobile: new-breakpoint(max-width 700px 12);
$tablet: new-breakpoint(max-width 900px 12);
$desktop: new-breakpoint(max-width 1400px 12);