form.callform
  .callform__triangle
  .callform__inner
    input.callform__input(name="" placeholder="Ваше имя" type="text")
    input.callform__input(name="" placeholder="Ваш телефон" type="text")
    input.callform__btn(name="" value="Заказать звонок" type="submit")
