form.callform
  .callform__triangle
  .callform__inner
    input.callform__input(name="name" placeholder="Ваше имя" type="email")
    input.callform__input(name="call" placeholder="Ваш телефон" type="tel")
    input.callform__btn(name="" value="Заказать звонок" type="submit")
