.question-form(id="call-form")
  .question-form__wrap
    header.popup-header
      .popup-header__close &#10006;
      h2.popup-header__title Закажите звонок
    form.callform(action="email.php" role="form" method="post")
      .suc-alert
      .error-alert
      .callform__inner
        input.callform__input(name="name" placeholder="Ваше имя" type="text")
        span.fileupload-form__errname
        input.callform__input(name="tel" placeholder="Ваш телефон" type="tel")
        span.fileupload-form__errname
        input.callform__btn(name="" value="Заказать звонок" type="submit")