header.header
  .header__shader
  .header__background
  .container-main
    .header__desktop
      .header__left
        a.logo(href="#")
          img.logo__img(alt="andersen logo" src="img/logo.png")
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a.navigation__link(href='#fotogal')
                | Фотогалерея
            li.navigation__item
              a.navigation__link(href='#prices')
                | Планировки и цены
            li.navigation__item
              a.navigation__link(href='#buy')
                | Способы покупки
            li.navigation__item
              a.navigation__link(href='#contacts')
                | Контакты
      .header__right
        .call
          .call__number
            | 8 800 2000 600
          a.call__btn(href='#')
            .call__view
              | Заказать звонок
    .header__mobile
      .header__left
        .header__burg
          .burger
        a.logo.logo_min(href="#")
          img.logo__img(alt="andersen logo" src="img/logo.png")
      .header__right
        .call
          .call__number
            | 8 800 2000 600
          a.call__btn(href='#')
            .call__view
              | Заказать звонок
        .mobile-call
    nav.mobile-navigation
      ul.mobile-navigation__list
        li.mobile-navigation__item
          a.mobile-navigation__link(href='#fotogal')
            | Фотогалерея
        li.mobile-navigation__item
          a.mobile-navigation__link(href='#prices')
            | Планировки и цены
        li.mobile-navigation__item
          a.mobile-navigation__link(href='#buy')
            | Способы покупки
        li.mobile-navigation__item
          a.mobile-navigation__link(href='#contacts')
            | Контакты

