header.header
  .header__shader
  .container-main
    .header__desktop
      .header__left
        a.logo(href="#")
          img.logo__img(alt="andersen logo" src="img/logo.png")
        nav.navigation
          ul.navigation__list
            li.navigation__item
              a.navigation__link(href='#fotogal')
                | Фотогалерея
            li.navigation__item
              a.navigation__link(href='#prices')
                | Планировки и цены
            li.navigation__item
              a.navigation__link(href='#pay')
                | Способы покупки
            li.navigation__item
              a.navigation__link(href='#contacts')
                | Контакты
      .header__right
        .call
          .call__number
            | 8 800 2000 600
          a.call__btn(href='#')
            .call__view
              | Заказать звонок
          include ../_includes/_callform

