.button-group(id="filters")
  button.button-test(data-filter=".metal") metal
  button.button-test(data-filter=".transition") transition
.grid
  .element-item.transition.metal(data-category="transition")
    h3.name Mercury
  .element-item.transition.metalloid(data-category="metalloid")
    h3.name Tellurium
  .element-item.post-transition.metal(data-category="post-transition")
    h3.name Bismuth
  .element-item.post-transition.metal(data-category="post-transition")
    h3.name Lead