.question-form(id="planing-form")
  .question-form__wrap
    header.popup-header
      .popup-header__close.close-plan &#10006;
      h2.popup-header__title Двухкомнатная квартира
    form.planing-choose-form(id="planing-choose-form" role="form" action="email.php" method="post")
      .suc-alert
      .error-alert
      .planing-choose-form__inner
        .planing-choose-form__left
          .plan
            .plan__foto
              img.plan__img(src="/img/8.png")
        .planing-choose-form__right
          .planing-choose-form__about
            h2.planing-choose-form__title Подъезд 1, этаж 3
            .planing-choose-form__line
              p.planing-choose-form__parag.allsq #[span]
              p.planing-choose-form__parag.livesq #[span]
            //.planing-choose-form__line
            //  p.planing-choose-form__parag Общая комната
            //  p.planing-choose-form__parag Спальня
            //  p.planing-choose-form__parag Кухня
          h2.planing-choose-form__main-title Узнайте стоимость данной квартиры на сегодняшний день
          input.planing-choose-form__input(name="name" placeholder="Ваше имя" type="text")
          //span.fileupload-form__errname
          input.planing-choose-form__input(name="tel" placeholder="Ваш телефон" type="tel")
          //span.fileupload-form__errname
          input.planing-choose-form__input(name="plan" placeholder="Ваш телефон" type="hidden")
          input.planing-choose-form__btn(name="" value="Узнать стоимость" type="submit")