.range-slider
  div(id="pips-slider")
  .com.tooltip-one
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='/img/plan-floor/p1e1.png')
      object(type="image/svg+xml" data="/img/plan2.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='/img/plan-floor/p1e2-8.png')
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='/img/plan-floor/p1e9.png')
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='/img/plan-floor/p1e10.png')
  .com.tooltip-two
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='/img/plan-floor/p2e1-8.png')
      object(type="image/svg+xml" data="/img/plan2.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='/img/plan-floor/p2e1-8.png')
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='/img/plan-floor/p2e9.png')
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='/img/plan-floor/p2e10.png')
  .com.tooltip-three
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='/img/plan-floor/p3e1-8.png')
      object(type="image/svg+xml" data="/img/plan2.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='/img/plan-floor/p3e1-8.png')
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='/img/plan-floor/p3e9.png')
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='/img/plan-floor/p3e10.png')
  .com.tooltip-four
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='/img/plan-floor/p4e1-8.png')
      object(type="image/svg+xml" data="/img/plan2.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='/img/plan-floor/p4e1-8.png')
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='/img/plan-floor/p4e9.png')
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='/img/plan-floor/p4e10.png')