.range-slider
  div(id="pips-slider")
  .com.tooltip-one
    .block-plan-pic.block-plan-pic-one.active One
      img.plan-floor(src='/img/plan-floor/p1e1.png')
    .block-plan-pic.block-plan-pic-typing Two-Eight
      img.plan-floor(src='/img/plan-floor/p1e2-8.png')
    .block-plan-pic.block-plan-pic-nine Nine
      img.plan-floor(src='/img/plan-floor/p1e9.png')
    .block-plan-pic.block-plan-pic-ten Ten
      img.plan-floor(src='/img/plan-floor/p1e10.png')
  .com.tooltip-two
    .block-plan-pic.block-plan-pic-one.active Do
    .block-plan-pic.block-plan-pic-two Dili
    .block-plan-pic.block-plan-pic-three Do
    .block-plan-pic.block-plan-pic-four Dili
    .block-plan-pic.block-plan-pic-five Do
    .block-plan-pic.block-plan-pic-six Dili
    .block-plan-pic.block-plan-pic-seven Do
    .block-plan-pic.block-plan-pic-eight Dili
    .block-plan-pic.block-plan-pic-nine Do
    .block-plan-pic.block-plan-pic-ten Dili
  .com.tooltip-three
    .block-plan-pic.block-plan-pic-one.active Da
    .block-plan-pic.block-plan-pic-two DaDa
    .block-plan-pic.block-plan-pic-three Da
    .block-plan-pic.block-plan-pic-four DaDa
    .block-plan-pic.block-plan-pic-five Da
    .block-plan-pic.block-plan-pic-six DaDa
    .block-plan-pic.block-plan-pic-seven Da
    .block-plan-pic.block-plan-pic-eight DaDa
    .block-plan-pic.block-plan-pic-nine Da
    .block-plan-pic.block-plan-pic-ten DaDa
  .com.tooltip-four
    .block-plan-pic.block-plan-pic-one.active MOAR
    .block-plan-pic.block-plan-pic-two MOARMOAR
    .block-plan-pic.block-plan-pic-three MOAR
    .block-plan-pic.block-plan-pic-four MOARMOAR
    .block-plan-pic.block-plan-pic-five MOAR
    .block-plan-pic.block-plan-pic-six MOAR
    .block-plan-pic.block-plan-pic-seven MOAR
    .block-plan-pic.block-plan-pic-eight MOARs
    .block-plan-pic.block-plan-pic-nine MOAR
    .block-plan-pic.block-plan-pic-ten MOAR