.range-slider
  header.popup-header
    .popup-header__close &#10006;
    h2.popup-header__title Выберите этаж и квартиру
  div(id="pips-slider")
  .com.tooltip-one
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='img/plan-floor/p1e1.png')
      object(id="obj1" type="image/svg+xml" data="img/plan1e1.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='img/plan-floor/p1e2-8.png')
      object(id="obj2" type="image/svg+xml" data="img/plan1e2-8.svg")
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='img/plan-floor/p1e9.png')
      object(id="obj3" type="image/svg+xml" data="img/plan1e9.svg")
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='img/plan-floor/p1e10.png')
      object(id="obj4" type="image/svg+xml" data="img/plan1e10.svg")
  .com.tooltip-two
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='img/plan-floor/p2e1-8.png')
      object(id="obj5" type="image/svg+xml" data="img/plan2e1-8.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='img/plan-floor/p2e1-8.png')
      object(id="obj6" type="image/svg+xml" data="img/plan2e1-8.svg")
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='img/plan-floor/p2e9.png')
      object(id="obj7" type="image/svg+xml" data="img/plan2e9.svg")
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='img/plan-floor/p2e10.png')
      object(id="obj8" type="image/svg+xml" data="img/plan2e10.svg")
  .com.tooltip-three
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='img/plan-floor/p3e1-8.png')
      object(id="obj9" type="image/svg+xml" data="img/plan3e1-8.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='img/plan-floor/p3e1-8.png')
      object(id="obj10" type="image/svg+xml" data="img/plan3e1-8.svg")
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='img/plan-floor/p3e9.png')
      object(id="obj11" type="image/svg+xml" data="img/plan3e9.svg")
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='img/plan-floor/p3e10.png')
      object(id="obj12" type="image/svg+xml" data="img/plan3e10.svg")
  .com.tooltip-four
    .block-plan-pic.block-plan-pic-one.active
      img.plan-floor(src='img/plan-floor/p4e1-8.png')
      object(id="obj13" type="image/svg+xml" data="img/plan4e1-8.svg")
    .block-plan-pic.block-plan-pic-typing
      img.plan-floor(src='img/plan-floor/p4e1-8.png')
      object(id="obj14" type="image/svg+xml" data="img/plan4e1-8.svg")
    .block-plan-pic.block-plan-pic-nine
      img.plan-floor(src='img/plan-floor/p4e9.png')
      object(id="obj15" type="image/svg+xml" data="img/plan4e9.svg")
    .block-plan-pic.block-plan-pic-ten
      img.plan-floor(src='img/plan-floor/p4e10.png')
      object(id="obj16" type="image/svg+xml" data="img/plan4e10.svg")