extends _tabs.pug

block tab-content
  .mortgage.active
    h2.methods-block__title
      | Получите рассчёт ежемесячного платежа во всех банках-партнёрах по ипотеке
    .brands
      ul.brands__list
        li.brands__item
          img.brands__img(src="/img/sberbank@1x.png")
        li.brands__item
          img.brands__img(src="/img/vtb@1x.png")
        li.brands__item
          img.brands__img(src="/img/mosbank@1x.png")
        li.brands__item
          img.brands__img(src="/img/centrinvest@1x.png")
        li.brands__item
          img.brands__img(src="/img/vozrozhdenie@1x.png")
        li.brands__item
          img.brands__img(src="/img/akbars@1x.png")
        li.brands__item
          img.brands__img(src="/img/rosselhoz@1x.png")
        li.brands__item
          img.brands__img(src="/img/uralsib@1x.png")

    form.everymonth-pay
      .everymonth-pay__inputs
        select.everymonth-pay__select(id='start-pay' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Первоначальный взнос
          option(value='first') First
          option(value='second') Second
        select.everymonth-pay__select(id='type-home' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') Тип квартиры
          option(value='first') First
          option(value='second') Second
        select.everymonth-pay__select(id='time-limit' class='custom-select select2-hidden-accessible' aria-hidden="true" tabindex="-1" style="width: 20%")
          option(value='hide') На срок
          option(value='first') First
          option(value='second') Second
        input.everymonth-pay__input(name="" placeholder="Ваше имя" type="text")
        input.everymonth-pay__input(name="" placeholder="Ваш телефон" type="text")
      input.everymonth-pay__btn(name="" value="Узнать ежемесячный платёж" type="submit")
  .mortgage
    h2.methods-block__title
      | Mortgage2
  .mortgage
    h2.methods-block__title
      | Mortgage3